name: Build and Deploy to Azure Container Apps

on:
  push:
    branches:
      - master
  # workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Azure Login
      uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Build and Push Image
      run: |
        az acr build \
          --registry ravilabacr123 \
          --image flaskapp:v1 \
          ./app

    - name: Deploy Container App
      run: |
        az containerapp create \
          --name ravi-containerapp \
          --resource-group rg-containerapp-lab \
          --environment ravi-env \
          --image ravilabacr123.azurecr.io/flaskapp:v1 \
          --target-port 80 \
          --ingress external \
          --registry-server ravilabacr123.azurecr.io \
          --registry-username ${{ secrets.ACR_USERNAME }} \
          --registry-password ${{ secrets.ACR_PASSWORD }} \
          --query properties.configuration.ingress.fqdn